# Web framework
fastapi
uvicorn[standard]
python-multipart
slowapi

# Database
sqlalchemy[asyncio]
aiomysql
alembic

# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Config
pydantic-settings
python-dotenv
email-validator

# AI
openai==2.38.0
qdrant-client
langgraph
langsmith

# Test
pytest
pytest-asyncio
